In [7]:
import google.generativeai as genai
import pandas as pd

In [5]:
PROMPT="""
In which district thus following assembly constituency "{}" belong to in Jammu and Kashmir.
Ouput Format: Just name of the District
"""

In [3]:
with open("GEMINI_API_KEY.txt") as f:
    GEMINI_API_KEY = f.read().strip()

In [4]:
genai.configure(api_key=GEMINI_API_KEY)

model = genai.GenerativeModel(model_name="gemini-1.5-flash")
response = model.generate_content("Explain how AI works")
print(response.text)

## AI Explained: From Data to Decisions

Artificial intelligence (AI) is a broad term covering various technologies and techniques that allow computers to learn, solve problems, and make decisions like humans do, but often with greater speed and accuracy. Here's a simplified breakdown:

**1. Data is the Fuel:** AI systems are trained on massive datasets, similar to how we learn from experience. These datasets can be images, text, sounds, or any other form of data relevant to the task.

**2. Algorithms are the Blueprint:** AI relies on algorithms, which are sets of instructions telling the computer how to process and analyze data. These algorithms are designed to mimic human cognitive processes, like recognizing patterns, making predictions, and drawing conclusions.

**3. Learning is the Process:** The process of training an AI system is called machine learning. Through this process, the system iteratively adjusts its algorithms based on the data it receives, constantly improving its performance.

**4. Types of AI Learning:**

* **Supervised Learning:** The AI learns from labeled data, where each example is paired with the correct output (e.g., identifying cats in images).
* **Unsupervised Learning:** The AI learns from unlabeled data, discovering patterns and structures on its own (e.g., clustering customers based on purchasing habits).
* **Reinforcement Learning:** The AI learns through trial and error, receiving rewards for correct actions and penalties for incorrect ones (e.g., training a robot to navigate a maze).

**5. Outputs and Applications:**  The outputs of AI systems can be various, from simple predictions to complex actions. This leads to a wide range of applications:

* **Image Recognition:** Identifying objects, faces, and scenes in images and videos.
* **Natural Language Processing:** Understanding and generating human language, like chatbots or voice assistants.
* **Recommendation Systems:** Suggesting products, music, or news based on user preferences.
* **Robotics:** Creating robots that can perform tasks autonomously.
* **Autonomous Vehicles:** Developing cars that can drive themselves.
* **Healthcare:** Diagnosing diseases, predicting patient outcomes, and developing personalized treatments.

**6. It's Not Magic, It's Math:**  AI is essentially advanced mathematics and statistics, but it's often packaged in a way that makes it seem like magic. However, understanding the underlying principles can help us appreciate its potential and its limitations.

**7. Ongoing Development:**  AI is a constantly evolving field, with new techniques and applications emerging all the time. It's important to stay informed about the latest developments to understand its impact on our world.

**In essence, AI is about enabling computers to learn from data and make intelligent decisions, with applications that are transforming various industries and our daily lives.**

In [8]:
df = pd.read_csv("districts.csv")
df

    Unnamed: 0  AC No              Name
0            0      1             Kamah
1            1      2           Trehgam
2            2      3           Kupwara
3            3      4             Lolab
4            4      5          Handwara
..         ...    ...               ...
85          86     86       Budhal (ST)
86          87     87  Thannamandi (ST)
87          88     88    Surankote (ST)
88          89     89     Poonch Haveli
89          90     90      Mendhar (ST)

[90 rows x 3 columns]

In [9]:
df["District"]=None
df

    Unnamed: 0  AC No              Name District
0            0      1             Kamah     None
1            1      2           Trehgam     None
2            2      3           Kupwara     None
3            3      4             Lolab     None
4            4      5          Handwara     None
..         ...    ...               ...      ...
85          86     86       Budhal (ST)     None
86          87     87  Thannamandi (ST)     None
87          88     88    Surankote (ST)     None
88          89     89     Poonch Haveli     None
89          90     90      Mendhar (ST)     None

[90 rows x 4 columns]

In [14]:
for i in range(len(df)):
    response = model.generate_content(PROMPT.format(df["Name"][i]))
    print(f"{df['Name'][i]}  - {response.text}")
    break

Kamah  - Kishtwar